html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

.profile-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

}

#container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#list-profile {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


#header-profile {
    display: flex;
    justify-content: center;
    color: rgb(130, 130, 130);
}

#footer-profile {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: none;
    cursor: pointer;  
}

#footer-profile button {
    background-color: rgb(10, 10, 10);
    color: rgb(130, 130, 130);
    border: 2px solid rgb(130, 130, 130);
    cursor: pointer;
    padding: 8px 12px;
    margin: 0;
    line-height: 1;
}

#footer-profile button:hover {
    background-color: rgb(41,41,41);
}

#logo {
    position: absolute;
    top: 1px;
    left: 10px;
    color: rgb(197, 33, 21);
}

@media (max-width: 900px) {
    #container-profile {
        transform: scale(1.4);
        transform-origin: center;
    }

    .profile-image img {
        width: 150px;
        height: 150px;
    }

    #header-profile h1 {
        font-size: 2rem;
    }

    #logo h2 {
        font-size: 2.5rem;
    }
}

.profile-card {
    transition: transform 0.2s ease;
}

.profile-card:hover {
    transform: scale(1.1);
}
 
